{% extends "prop-template.html" %}
{% block content %}
{{ super() }}

    <button onclick='if (confirm("are you sure?!")){emit("{{prop.topic}}/on", "all");}'>reset</button>
    <button onclick='if (confirm("are you sure?!")){emit("{{prop.topic}}/off", "all");}'>fire all</button>
    <table>
{% for i in range(prop.relays|length) %}
    <TR>
       <TD>{{prop.relays[i].name}}</TD>
       <TD><button class="togglebutton" onclick="emit('{{prop.topic}}/toggle', '{{prop.relays[i].pin}}');">toggle</button></TD>
        <TD>{{prop.relays[i].description}}</TD>
    </TR>
{% endfor %}
        <script>
            function relaystate(e, message) {
            var buttons = document.getElementsByClassName("togglebutton");
            for (var i = 0, button; button = buttons[i]; i++) {
                if (message.payloadString[i] == "0"){
                    button.style.background='#000000';
                }
                else {
                    button.style.background='#ffffff';
                }
            }
            }
            tolisten.push(["{{prop.topic}}/state", relaystate]);
        </script>
    </table>
{% endblock %}