<fieldset>
    <legend>sounds</legend>
    {% for s in sounds %}
        <button onclick="emit('sounds/clue/' + Array.from(document.getElementById('speakers').selectedOptions).map(x => x.value).join()  ,'{{s.src}}')">{{s.name}}</button>
    {% endfor %}
    <select name="groups" id="groups" size="{{speakergroups|length}}">
    {% for spg, spks in speakergroups.items() %}
        <option value="{{spg}}" onclick="choose(['{{spks|join('\',\'')}}'])">{{spg}}</option>
    {% endfor %}
    </select>
    <select name="speakers" id="speakers" size="{{speakers|length}}" multiple>
    {% for sp in speakers %}
        <option onclick="document.getElementById('groups').value = ''" value="{{sp}}">{{sp}}</option>
    {% endfor %}
    </select>

    <section style="float: right">
        <fieldset id="soundbox">
            <legend>currently playing</legend>



        </fieldset>
    </section>


    <script>
        function choose(toselect) {
            document.getElementById('speakers')
            var select = document.getElementById( 'speakers' );

            for ( var i = 0, l = select.options.length, o; i < l; i++ )
            {
              o = select.options[i];
              if ( toselect.indexOf( o.text ) != -1 )
              {
                o.selected = true;
              }
              else {
                  o.selected = false;
              }
            }
        }

        function ensure_sound(soundid){
            var foo = document.getElementById(soundid);
            if (foo === null){
                var bar = document.createElement("template");
                bar.innerHTML = "<div id=\"sound_" + soundid + "\"><span style='float: left'>sound: "+ soundid + "</span>" +
                    "<button onclick='emit(\"sounds/playpause\",\""+soundid+"\");'>play/pause</button>" +
                        "<button onclick='emit(\"sounds/stop\",\""+soundid+"\");'>stop</button>" +
                    "</div>";
                foo = document.getElementById("soundbox").appendChild(bar.content.firstChild)
            }
            return foo;
        }

        function onsound_start(message) {
            var foo = ensure_sound(message.payloadString);
        }
        tolisten.push(["sounds/playing", onsound_start]);

        function onsound_end(message){
            var foo = document.getElementById("sound_"+message.payloadString);
            foo.remove()
        }
        tolisten.push(["sounds/finished", onsound_end])

    </script>
</fieldset>