<fieldset>
    <legend>sounds</legend>
    {% for s in sounds %}
        <button onclick="emit('sounds/play/' + Array.from(document.getElementById('speakers').selectedOptions).map(x => x.value).join()  ,'{{s.src}} '+document.getElementById('loops').value)">{{s.name}}</button>
    {% endfor %}
    <select name="groups" id="groups" size="{{speakergroups|length}}">
    {% for spg, spks in speakergroups.items() %}
        <option value="{{spg}}" onclick="choose(['{{spks|join('\',\'')}}'])">{{spg}}</option>
    {% endfor %}
    </select>
    <select name="speakers" id="speakers" size="{{speakers|length}}" multiple>
    {% for sp in speakers %}
        <option onclick="document.getElementById('groups').value = ''" value="{{sp}}">{{sp}}</option>
    {% endfor %}
    </select>
    <select name="loops" id="loops">
        <option>-1</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>

    <section style="float: right">
        <fieldset id="soundbox">
            <legend>currently playing</legend>



        </fieldset>
    </section>


    <script>
        function choose(toselect) {
            document.getElementById('speakers')
            var select = document.getElementById( 'speakers' );

            for ( var i = 0, l = select.options.length, o; i < l; i++ )
            {
              o = select.options[i];
              if ( toselect.indexOf( o.text ) != -1 )
              {
                o.selected = true;
              }
              else {
                  o.selected = false;
              }
            }
        }

        function ensure_sound(soundid){
            var foo = document.getElementById(soundid);
            if (foo === null){
                var bar = document.createElement("template");
                bar.innerHTML = "<div id=\"sound_" + soundid + "\"><span style='float: left'>"+ soundid + "</span>" +
                    "<button onclick='emit(\"sounds/playpause\",\""+soundid+"\");'>play/pause</button>" +
                        "<button onclick='emit(\"sounds/stop\",\""+soundid+"\");'>stop</button>" +
                    "<div style=\"width: 150px; background-color: #ddd; height: 30px\">\n" +
                        "<div style=\"width: 0%; background-color: #4caf50; text-align: center; line-height: 30px; color: white\" class=\"duration\">10%</div>\n" +
                    "</div>\n" +
                        "<input type='range' min=\"0\" max=\"200\" value=\"100\" onchange='emit(\"sounds/volume\",\""+soundid+" \"+this.value)'>"+
                    "</div>";
                foo = document.getElementById("soundbox").appendChild(bar.content.firstChild)
            }
            return foo;
        }

        function onsound_start(message) {
            var foo = ensure_sound(message.payloadString);
        }
        tolisten.push(["sounds/playing", onsound_start]);

        function onsound_end(message){
            var foo = document.getElementById("sound_"+message.payloadString);
            foo.remove()
        }
        tolisten.push(["sounds/finished", onsound_end])

        function onsound_duration(message){
            var ss = message.payloadString.split(" ");
            while (ss.length > 0){
                var s = ss.shift();
                var d = ss.shift();
                var foo = document.getElementById("sound_"+s);
                if (foo == null && d > 0){
                    foo = ensure_sound(s)
                }
                if (foo !== null){
                    var bar = foo.getElementsByClassName("duration")[0];
                    bar.style.width = d + "%";
                    bar.innerText = d + "%";
                }
            }
        }
        tolisten.push(["sounds/during", onsound_duration])

    </script>
</fieldset>