<fieldset>
    <legend>sounds</legend>

    <input type='range' min="0" max="200" value="100" onchange='emit("sounds/volume",this.value)'>
    {% for b in this.buttons %}
        <button title="{{b.description}}" onclick='{{b.onclick|e}}'>{{b.name}}</button>
    {% endfor %}
    <select name="sounds" id="sounds" size="{{sounds|length + effects|length + 2}}">
        <option disabled>─────clues─────</option>
    {% for s in clues %}
        <option value="{{s.src}}">{{s.name}}</option>
    {% endfor %}
        <option disabled>────effects────</option>
    {% for s in effects %}
        <option value="{{s.src}}">{{s.name}}</option>
    {% endfor %}
    </select>
    <select name="groups" id="groups" size="{{speakergroups|length}}">
    {% for spg, spks in speakergroups.items() %}
        <option value="{{spg}}" onclick="choose(['{{spks|join('\',\'')}}'])">{{spg}}</option>
    {% endfor %}
    </select>
    <select name="speakers" id="speakers" size="{{speakers|length}}" multiple>
    {% for sp in speakers %}
        <option onclick="" value="{{sp}}" {% if sp | trim | first == '<' %} disabled {% endif %}>{{sp}}</option>
    {% endfor %}
    </select>
    <select name="loops" id="loops">
        <option>-1</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <label for="loops">loops</label>
    <input type="checkbox" id="fadein" name="fadein" checked>
    <label for="fadein">fade in</label>
    <button onclick="emit('sounds/play',  JSON.stringify({filename:document.getElementById('sounds').value, speakers:Array.from(document.getElementById('speakers').selectedOptions).map(x => x.value), loops:document.getElementById('loops').value, fadein:document.getElementById('fadein').checked}))">play</button>

    <section style="float: right">
        <fieldset id="soundbox">
            <legend>currently playing</legend>



        </fieldset>
    </section>


    <script>
        window.onmousedown = function (e) {
        var el = e.target;
            if (el.tagName.toLowerCase() == 'option' && el.parentNode.hasAttribute('multiple')) {
                if (!el.hasAttribute('disabled')) {
                    e.preventDefault();
                    document.getElementById('groups').value = '';
                    // toggle selection
                    if (el.hasAttribute('selected')) el.removeAttribute('selected');
                    else el.setAttribute('selected', '');

                    // hack to correct buggy behavior
                    var select = el.parentNode.cloneNode(true);
                    el.parentNode.parentNode.replaceChild(select, el.parentNode);
                }
                else {
                    var found = false;
                    var flipway = false;
                    var flipwayset = false;
                    for ( var i = 0, l = el.parentNode.options.length, o; i < l; i++ )
                    {
                        if (!found){
                            if (el.parentNode.options[i] === el) {
                                found = true;
                            }
                            continue;
                        }
                        if (found && el.parentNode.options[i].hasAttribute('disabled')){
                            break;
                        }
                        if (!flipwayset){
                            flipwayset = true;
                            flipway = !el.parentNode.options[i].hasAttribute('selected');
                        }

                        if (flipway){
                            el.parentNode.options[i].setAttribute('selected', '');
                        }
                        else {
                            if (el.parentNode.options[i].hasAttribute('selected'))
                            el.parentNode.options[i].removeAttribute('selected');
                        }
                    }
                }
            }
        };

        function choose(toselect) {
            document.getElementById('speakers')
            var select = document.getElementById( 'speakers' );

            for ( var i = 0, l = select.options.length, o; i < l; i++ )
            {
              o = select.options[i];
              if ( toselect.indexOf( o.text ) != -1 )
              {
                o.setAttribute('selected', '');
              }
              else {
                  o.removeAttribute('selected');
              }
            }
        }

        function ensure_sound(soundid){
            var foo = document.getElementById(soundid);
            if (foo === null){
                var bar = document.createElement("template");
                bar.innerHTML = "<div id=\"sound_" + soundid + "\"><span>"+ soundid + "</span>" +
                    "<button onclick='emit(\"sounds/playpause\",\""+soundid+"\");'>play/pause</button>" +
                        "<button onclick='emit(\"sounds/stop\",\""+soundid+"\");'>stop</button>" +
                        "<button onclick='emit(\"sounds/fadeout\",\""+soundid+"\");'>fadeout</button>" +
                        "<button onclick='emit(\"sounds/fadein\",\""+soundid+"\");'>fadein</button>" +
                    "<div style=\"width: 150px; background-color: #ddd; height: 30px\">\n" +
                        "<div style=\"width: 0%; background-color: #4caf50; text-align: center; line-height: 30px; color: white\" class=\"duration\">10%</div>\n" +
                    "</div>\n" +
                        "<input type='range' min=\"0\" max=\"200\" value=\"100\" onchange='emit(\"sounds/volume\",\""+soundid+" \"+this.value)'>"+
                    "</div>";
                foo = document.getElementById("soundbox").appendChild(bar.content.firstChild)
            }
            return foo;
        }

        function onsound_start(message) {
            var foo = ensure_sound(message.payloadString);
        }
        tolisten.push(["sounds/playing", onsound_start]);

        function onsound_end(message){
            var foo = document.getElementById("sound_"+message.payloadString);
            foo.remove()
        }
        tolisten.push(["sounds/finished", onsound_end])

        function onsound_duration(message){
            var ss = message.payloadString.split(" ");
            while (ss.length > 0){
                var s = ss.shift();
                var d = ss.shift();
                var foo = document.getElementById("sound_"+s);
                if (foo == null && d > 0){
                    foo = ensure_sound(s)
                }
                if (foo !== null){
                    var bar = foo.getElementsByClassName("duration")[0];
                    bar.style.width = d + "%";
                    bar.innerText = d + "%";
                }
            }
        }
        tolisten.push(["sounds/during", onsound_duration])

    </script>
</fieldset>