<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>var tolisten = []; </script>
</head>
<body>
    <div><h1  id="countdown">60:00</h1></div>
    <button onclick="emit('timer/control', 'start')">play</button>
    <button onclick="emit('timer/control', 'toggle')">pause</button>
    <button onclick="emit('timer/relative', '-'+60*document.getElementById('time_adjust').value);">--</button>
    <button onclick="emit('timer/relative', '-'+document.getElementById('time_adjust').value);">-</button>
    <textarea id="time_adjust">1</textarea>
    <button onclick="emit('timer/relative', ''+document.getElementById('time_adjust').value);">+</button>
    <button onclick="emit('timer/relative', ''+60*document.getElementById('time_adjust').value);">++</button>

    <textarea id="cluebox"></textarea><button onclick="emit('clue/text', document.getElementById('cluebox').value)"> send clue</button>
    <button onclick="emit('clue/silent', document.getElementById('cluebox').value)"> silent update</button>
    {% if clues|length > 0 %}
    <div></div>
    <fieldset>
    <legend>clues</legend>
    {% for clue in clues %}
      <img id="{{clue.id}}" src="static/clues/{{ clue.src }}" onclick="emit('clue/img', '{{clue.src}}'); console.log('{{clue.id}}')" style="max-width: 10%; height: auto; cursor: pointer"/>
    {% endfor %}
    </fieldset>
    {% endif %}

    {% for prop in props %}
     <div></div>
     {{prop|safe}}
    {% endfor %}
</body>
<script src="static/paho-mqtt.js"></script>
<script src="static/mqtt-pattern.js"></script>
<script>
    const client = new Paho.Client(location.hostname, 8080, "clientID" + Math.floor(Math.random() * 100));
    client.startTrace();
    client.connect({onSuccess:onConnect});
    //client.disconnectedPublishing = true;


        function emit(topic, payload, qos=0, retained=false) {
            let message = new Paho.Message(payload);
            message.destinationName = "game/" + topic;
            message.qos = qos;
            message.retained = retained;
            client.send(message);
        }


        function setupListener(topic) {
            console.log("subscribing to topic: " + topic);
            client.subscribe("game/"+topic);
        }

    // called when the client connects
    function onConnect() {
        // Once a connection has been made, make a subscription and send a message.
        console.log("onConnect");
        client.onMessageArrived = onMessageArrived;

        tolisten.forEach(element => setupListener(element[0]));

        function onMessageArrived(message) {
            try {
                console.log("onMessageArrived: " + message.destinationName + " " + message.payloadString);
            }
            catch (e) {
                //console.log("onMessageArrived: " + message.destinationName + " " + message.payloadBytes);
            }
            try {
                tolisten.forEach(pair => {
                    if (mqtt_pattern.matches("game/"+pair[0], message.destinationName)) {
                        pair[1](message)
                    }
                });
            }
            catch (e) {
                console.log(e)

            }
        }



        function onTimer(message) {
            document.getElementById("countdown").innerHTML = message.payloadString;
        }
        tolisten.push(["timer/current", onTimer]);

    }
</script>
</html>